<!DOCTYPE html>
<html>
<head>
  <title>Has Many Through Forms</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style media="screen">
    body {
      margin: 2rem;
      font-family: 'Arial', sans-serif;
    }
    .fl {
      margin-bottom: .5rem;
    }
  </style>
</head>
<body>

<%= yield %>

</body>
</html>
